body{
	margin: 0;
	padding:0;
	background-image: url(one.jpg);
	background-size: cover;
}
a{
	text-decoration: none;
}
.menu{
	display: block;
	list-style-type: none;
	background: black;
	opacity: 0.8;
	padding: 0px;
	margin: 0;
	position: relative;

}
.menu li{
	display: block;
	width: 100px;
	height: 30px;
	margin: 10px;
	float: right;
	position: relative;
	
}
.menu a{
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
}

.menu:after{
	content: "";
	display: block;
	clear:both;
}

.menu> li> a:hover{
    color: gray;
}
.menu> li> a:active{
    text-decoration: underline;
}

.submenu {
	display: none;
	position: absolute;
	list-style-type: none;
	width: 100px;
	height: 90px;
    padding: 0;
    margin: 0;
    top: 30px;
}


.submenu > li {
    display: block;
    margin: 0;
}

.submenu > li > a {
    display: block;
    color: blue;
    font-weight: normal;
    background-color: black;
    text-decoration: none;
    text-align: left;
    padding-left: 5px;
}


.submenu > li > a:link {
	color: white;
}
.submenu > li > a:hover {
    text-decoration: underline;
}
.submenu > li > a:active {
	color: red;
}
.submenu > li > a:visited {
	color:#0052b6;
}
.menu > li:hover > .submenu {
    display: block;
}



